{% if page.title %}
  {% assign meta_title = page.title %}
{% else %}
  {% assign meta_title = site.title %}
{% endif %}
{% if page.url != "/" %}
  {% assign meta_content = page.content | markdownify | strip_html | strip_newlines | truncate: 300 %}
  {% assign meta_url = site.url | append: page.url %}
{% else %}
  {% assign meta_content = site.description %}
  {% assign meta_url = site.url %}
{% endif %}
{% if page.image-share %}
  {% assign meta_image = page.image-share %}
{% else %}
  {% assign meta_image = site.profile_image %}
{% endif %}
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:url" content="{{ meta_url }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ meta_title }}" />
<meta property="og:description" content="{{ meta_content }}" />
<meta property="og:image" content="{{ site.url }}{{ meta_image }}" />
<meta property="og:image:width" content="640" />
<meta property="og:image:height" content="480" />
<meta property="og:locale" content="{{ site.locale }}" />

<meta name="twitter:site" content="@{{ site.author.twitter_username }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@{{ site.author.twitter_username }}" />
<meta name="twitter:title" content="{{ meta_title }}" />
<meta name="twitter:description" content="{{ meta_content }}" />
<meta name="twitter:image" content="{{ site.url }}{{ meta_image }}?w=240" />
