<nav class="cover-navigation navigation--social">
  <ul class="navigation">

    <!-- Twitter -->
    <li class="navigation__item">
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.author.twitter_username }}&related={{ site.author.twitter_username }}" rel="nofollow" target="_blank" title="Compartir en Twitter">

        <i class="icon icon-social-twitter"></i>
      </a>
    </li>

    <!-- Facebook -->
    <!-- TODO: hacer que funcione -->
    <li class="navigation__item">
      <a href="https://www.facebook.com/dialog/share?app_id={{ site.facebook_app_id }}&display=popup&href={{ site.url }}{{ page.url }}&redirect_uri={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Compartir en Facebook">
        <i class="icon icon-social-facebook"></i>
      </a>
    </li>

    <!-- Google+ -->
    <li class="navigation__item">
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url}}" rel="nofollow" target="_blank" title="Compartir en Google+">
        <i class="icon icon-social-google-plus"></i>
      </a>
    </li>

    <!-- Linkedin -->
    <li class="navigation__item">
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url}}&title={{ page.title }}" rel="nofollow" target="_blank" title="Compartir en LinkedIn">
        <i class="icon icon-social-linkedin"></i>
      </a>
    </li>

  </ul>
</nav>
