---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time> &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>

  <section class="post-social-buttons">
    <nav class="cover-navigation navigation--social">
      <ul class="navigation">

        <!-- Twitter -->
        <li class="navigation__item">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.author.twitter_username }}&related={{ site.author.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">

            <i class="icon icon-social-twitter"></i>
          </a>
        </li>

        <!-- Facebook -->
        <!-- TODO: hacer que funcione -->
        <li class="navigation__item">
          <a href="https://www.facebook.com/dialog/share?app_id=468858176787586&display=popup&href={{ site.url }}{{ page.url }}&redirect_uri={{ site.url }}{{ page.url }}" title="Share on Facebook">
            <i class="icon icon-social-facebook"></i>
          </a>
        </li>

      </ul>
    </nav>
  </section>

  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}

</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}
